/*general*/
body{
  background: #e8e8e8;
}
hr{
  margin: 7px;
}
.first-padding{
  padding-left: 20px;
}
.second-padding{
  padding-right: 20px;
}
.container{
  background: #fcfcfc;
  max-width: 1400px;
}
/* styles for row 1 col1*/

.h2-f-title{
  color: grey;
  font-size: 17px;
  margin-top: 15px;
}
.img-row-1{
  width: 100%;
}
.a-row-1{
  color: black;
  font-size: 22px;
  font-weight: bold;
  display: block;
  line-height: 1em;
}
.a-row-1:hover{
  color: black;
  text-decoration: underline;
  text-decoration-color: #e32600;
}
.p-row-1{
  font-size: 16px;
  color: black;
}
.relative-container{
  position: relative;
}
.a-abs-row-1{
  position: absolute;
  padding: 8px 15px;
  font-weight: bold;
  bottom: 0;
  left: 0;
  color: red;
  font-size: 15px;
  background: #fcfcfc;
}
.a-abs-row-1:hover{
  color: red;
  text-decoration: none;
}
.all-target-a{
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  z-index: 2;
}

/* styles for row 1 col3*/
.container-img-info{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-column-gap: 15px;
}
.img-row-1-col-3{
  float: left;
}
.a-row-1-col-3{
  color: black;
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-top: 5px;
}
.a-row-1-col-3:hover{
  color: red;
  text-decoration: none;
}
.h4-row-1-col-3{
  font-size: 14px;
  color: grey;
}
