/*general*/
body{
  background: #e8e8e8;
}
.first-padding{
  padding: 20px 20px 20px 20px;
}
.second-padding{
  padding: 20px 20px 20px 0;
}
.container{
  background: #fcfcfc;
  max-width: 1350px;
}
/* styles for row 1 */

.h2-f-title{
  color: grey;
  font-size: 17px;
}
.img-row-1{
  width: 100%;
}
.a-row-1{
  color: black;
  font-size: 22px;
  font-weight: bold;
  display: block;
  line-height: 1em;
}
.a-row-1:hover{
  color: black;
  text-decoration: underline;
  text-decoration-color: #e32600;
}
.p-row-1{
  font-size: 16px;
  color: black;
}
.relative-container{
  position: relative;
}
.a-abs-row-1{
  position: absolute;
  padding: 8px 15px;
  font-weight: bold;
  bottom: 0;
  left: 0;
  color: red;
  font-size: 15px;
  background: #fcfcfc;
}
.a-abs-row-1:hover{
  color: red;
  text-decoration: none;
}
.all-target-a{
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  z-index: 2;
}
